<head>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% load myfilters %}
  <div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Reset your password
      </h2>
      </p>
    </div>
  
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <div>
          </div>
          <div>
            {% if validlink %}
            <label class="block text-sm font-medium text-gray-700">
              Change password for @{{ form.user.username }}
            </label>
            <form method="post" novalidate>
              {% csrf_token %}
              <div>
              {{form.new_password1|addclass:"appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"}}
              </div>
              <label class="block text-sm font-medium text-gray-700">
                {{ form.new_password1.errors }}
              </label>
                {{ form.new_password2|addclass:"appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" }}
              <label class="block text-sm font-medium text-gray-700">
                {{ form.new_password2.errors }}
              </label>

              <button type="submit" class="mt-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" value="Save">
                Change password
              </button>
            </form>
            {% else %}
            <label class="block text-sm font-medium text-gray-700">
              It looks like you clicked on an invalid password reset link. Please try again.
            </label>
            <a href="{% url 'password_reset' %}" class="font-bold">Request a new password reset link</a>
            {% endif %}
          </div>
          <div class="flex items-center justify-between">
            <div class="text-sm">
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

